# dependencies
node_modules/

# build outputs
.next/
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables (VERY IMPORTANT)
.env
.env.local
.env.development
.env.production

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# Docker (optional)
.dockerignore